<kendo-grid
  [data]="dataSource || dataSourceGroup"
  [group]="groups"
  (cellClick)="editable ? cellClickHandler($event) : null"
  [pageable]="allowPaging"
  [skip]="skip"
  [pageSize]="myPageSize"
  (pageChange)="pageChangedHandler($event)"
>
  <ng-template
    kendoGridToolbarTemplate
    *ngIf="
      showAddButton ||
      showDeleteButton ||
      showEditButton ||
      showExportButton ||
      showImportButton
    "
  >
    <button
      kendoButton
      icon="plus"
      title="Add"
      (click)="clickAddHandler()"
      *ngIf="showAddButton"
    >
      Add
    </button>
    <button
      kendoButton
      icon="trash"
      title="Delete"
      (click)="clickDeleteHandler()"
      *ngIf="showDeleteButton"
    >
      Delete
    </button>
    <button
      kendoButton
      icon="edit"
      title="Edit"
      (click)="clickEditHandler()"
      *ngIf="showEditButton"
    >
      Edit
    </button>
    <kendo-grid-spacer></kendo-grid-spacer>
    <button
      kendoButton
      icon="download"
      title="Export"
      *ngIf="showExportButton"
      (click)="clickExportHandler()"
    >
      Export
    </button>
    <button
      kendoButton
      icon="upload"
      title="Import"
      *ngIf="showImportButton"
      (click)="clickImportHandler()"
    >
      Import
    </button>
  </ng-template>
  <kendo-grid-column
    *ngFor="let screen of screenInfo"
    [field]="screen.name"
    [title]="screen.alias"
    [hidden]="screen.hidden"
    [editor]="screen.editor"
  >
    <ng-template
      kendoGridEditTemplate
      let-dataItem="dataItem"
      let-formGroup="formGroup"
      *ngIf="screen.editTemplate"
    >
      <ng-container
        [ngTemplateOutlet]="screen.editTemplate"
        [ngTemplateOutletContext]="{
          dataItem: dataItem,
          field: screen.name,
          formGroup: formGroup
        }"
      ></ng-container>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem *ngIf="screen.template">
      <ng-container
        [ngTemplateOutlet]="screen.template"
        [ngTemplateOutletContext]="{ dataItem: dataItem, field: screen.name }"
      ></ng-container>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
